.item {
  min-height: 400px;
  min-width: 2050px;
  padding: 40px;
}
.item img {
  border-radius: 30px;
}
.img {
  width: 250px;
  height: 350px;
  display: flex;
  gap: 80px;
}
.inner-carousel {
  display: flex;
}
.carousel {
  cursor: grab;
  overflow: hidden;
  margin-top: -40px;
}
@media all and (min-width: 320px) and (max-width: 479px) {
  .item {
    min-height: 400px;
    min-width: 1900px;
    padding: 40px;
    border-radius: 30px;
  }
  .img {
    border-radius: 30px;
    width: 250px;
    height: 400px;
    display: flex;
    gap: 60px;
  }
  .inner-carousel {
    display: flex;
  }
  .carousel {
    cursor: grab;
    overflow: hidden;
    margin-top: -30px;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .item {
    min-height: 500px;
    min-width: 2050px;
    padding: 40px;
    border-radius: 30px;
  }

  img {
    width: 250px;
    height: 400px;
    display: flex;
    gap: 80px;
  }
  .inner-carousel {
    display: flex;
  }
  .carousel {
    cursor: grab;
    overflow: hidden;
    margin-top: -50px;
  }
}
