.h1-climbs {
  margin: 150px 0px 0px 0px;
  font-size: 100px;
  font-weight: 700;
  color: rgb(35, 35, 35);
}
.h1-climbs-con p {
  font-size: 20px;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
.form-select {
  font-size: 20px;
  background-color: rgb(245, 245, 245);
  color: rgb(35, 35, 35);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
}

@media all and (min-width: 320px) and (max-width: 479px) {
  .h1-climbs {
    margin: 120px 0px 0px 0px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(35, 35, 35);
  }
  .h1-climbs-con p {
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    text-align: center;
  }
  .form-select {
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    color: rgb(35, 35, 35);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .h1-climbs {
    margin: 100px 0px 0px 0px;
    font-size: 80px;
    font-weight: 700;
    color: rgb(35, 35, 35);
  }

  .h1-climbs-con p {
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    text-align: center;
  }
  .form-select {
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    color: rgb(35, 35, 35);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 17px 13px 47px -9px rgba(0, 0, 0, 0.6);
  }
}
