@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
body {
  margin: 0;
  background: url(./assets/duotone.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* body :hover {
  margin: 0;
  background: url(./assets/duotone.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
h1 {
  font-family: "Passion One", cursive;
  font-weight: 400;
}
.title {
  font-family: "Passion One", cursive;
}
p {
  font-family: "Forum", cursive;
  font-size: 25px;
}
li {
  font-family: "Forum", cursive;
  font-size: 25px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
